body {
    background: #121212 !important;
    text-align: center;
}
@media (min-width:768px){.menu_button{height: 22px;}}
@media (min-width:992px){.menu_button{height: 48px;}}
@media (min-width:1200px){.menu_button{height: 51px;}}
.banner {
	margin: 6px 0;
	width: 100%;
}
.banner_img {
    width: 100%;
}
.sidebar {
	background: #899CA9;
	display: inline-block;
	text-align: left;
	padding: 25px 0.5%;
    float: left;
    width: 22%;
    height: 500px;
	text-decoration: none;
	border-radius: 4px;
}
.sidebar .sidebarlinks {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: bold;
    font-size: 100%;
	color: #fcfcfc;
    text-decoration: none;
    }
.menu_button {
    width: 100%;
    min-height: 22px;
    padding: 8px 10%;
}
.sidebarlinks a{
     color:#fcfcfc;
	 text-decoration: none;
	
    }
.sidebarlinks a:hover {
	text-decoration: none;
	text-shadow: none;
    }
.content {
	background: white;
    display: inline-block;
    float: right;
	height: 500px;
	width: 77.5%;
	border-radius: 4px;
}
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}
.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
.accordion-section-content {
    padding:15px;
    display:none;
}