body {
    background: #121212 !important;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
@media (min-width:768px){.menu_button{height: 22px;}}
@media (min-width:992px){.menu_button{height: 48px;}}
@media (min-width:1200px){.menu_button{height: 51px;}}
.banner {
	margin: 6px 0;
	width: 100%;
}
.banner_img {
    width: 100%;
}
.sidebar {
	background: #899CA9;
	text-align: left;
	text-decoration: none;
}
.sidebar .sidebarlinks {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: bold;
    font-size: 100%;
	color: #fcfcfc;
    text-decoration: none;
    }
.sidebarlinks a{
     color:#fcfcfc;
	 text-decoration: none;

    }
.sidebarlinks a:hover {
	text-decoration: none;
	text-shadow: none;
    }
.content {
	background: white;
    padding: 0;
    padding-bottom:20px;
    margin-bottom:6px;
	min-height: 500px;
}
.intro_accordion, .intro_accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
.intro_accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    background:#f7f7f7;
    text-align: left;
}
.accordion-section-title {
    width:100%;
    height: 25px;
    padding:2px 3%;
    display:inline-block;
    text-decoration: none;
    z-index: 2;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}
.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration: none;
    color: white;
}
#intro_arrow_span {
    float: right;
}
.intro_arrow {
    float: right;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.arrow_down {
    background-image: url('../images/arrow_down.png');
}
.arrow_up {
    background-image: url('../images/arrow_up.png');
}
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
    text-decoration: none;
    color:#fff;
}
.accordion-section-content {
    padding:15px;
    display:none;
}
.left_div, .right_div {
    padding: 20px 4%;
    padding-top: 10px;
    text-align: center !important;
}

table {
    width:100%;
}

.spec_table {
    text-align: center;
    margin-bottom: 10px;
}

.spec_table th {
    color: black;
}

.spec_table tr td {
    padding: 5px;
}

.spec_table tr td input {
    text-align: center;
    border: 0;
    color: #f6931f;
    font-weight: bold;
    font-size: 13pt;
}

h5 {
    font-weight: bold;
    font-size:11pt;
    text-align:center;

}/*
.processor {
    margin-left: 25px;
}
.processor_brand {
    float:left;
}
.processor_serie {
    position:relative;
    left:100px;
    top:0px;
}
.processor_core {
    float:left;
    position:relative;
    top:15px;
}
#slider_range1 {
    width:50%;
}

.processor_speed {
    position:relative;
    left:80px;
    top:15px;
    height:20%;
    width:20%;
    float:left;
}
.processor_cost {
    position:relative;
    top:55px;
    left:10px;
    height:10%;
    width:20%;
}
#submit_proces {
    float:left;
    position:relative;
    top:10px;
    left:360px;
}*/

.specification, .parts-buttons {
    padding: 0;
    min-height: 100px;
}

.title {
    font-size: 14pt;
    margin-top: 15px;
}

tbody tr td {
    font-family: 'Open Sans', sans-serif;
    color: #5f6062;
    font-size: 10pt;
    border-bottom:1px solid #e0e0e0;

}

.link_row {
    height: 42px;
}

.link, .link_image {
    margin: 0;
    width: 10%;
    text-align: center;
    color: #428bca;
    font-size: 9pt;
}

.link {
    background-color: #f8f8f8;
}

.link_image {
    padding: 5px;
}

.link a{
    text-decoration:none;
}
.link:hover, .link_image:hover {
    opacity: 0.5;
}

.parts-buttons a table {
    padding: 0 !important;
}

.parts-buttons table tr {
    padding: 0;
}

.specification_table {
    margin-top: 20px;
    color: #5f6062;
}

.specification_table h5 {
    margin-bottom: 0;
    color:black;
}

.specification_table_slider {
    display: inline-block;
    width: 90%;
}

.slider_label {
    border: 0;
    color: #00B5FC;
    font-weight: bold;
    text-align: center;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    text-decoration: none;
    background-color:#378de5;
}
.myButton:active {
    position:relative;
    top:1px;
}

.annotation {
    font-size: 10pt;
    color: #7C949E;
    font-weight: lighter;
}

.help_icon {
    width: 13px;
    vertical-align: text-top;
}
