@(title: String)(content: Html)
<!DOCTYPE html>

<html>

<head>
<title>@title</title>
<link rel = 'stylesheet' type = 'text/css' href = '@routes.Assets.at("images/main.css")' />
<div class = 'banner'>
  	    <img id = 'banner' src='@routes.Assets.at("images/banner_blue.jpg")' >
</div>  

    </head>
 
 <body>
<div class= 'sidebar'>	

  <div class='sidebarlinks'>
<a href="http://www.computerstore.nl/category/208983/moederborden.html">Moederborden</a><br>
<a href="">Processoren</a><br>
<a href="">Intern geheugen</a><br>
<a href="">Videokaarten</a><br>
<a href="">Behuizingen</a><br>
<a href="">Voedingen</a><br>
<a href="">Processorkoelers</a><br>
<a href="">Interne harde schijven</a><br>
<a href="">Solid State Drives</a><br>
<a href="">Geluidskaarten</a><br>
<a href="">PCI Express kaarten</a><br>
<a href="">Blu-ray/DVD Branders</a><br>
<a href="">Barebones</a><br>
  </div>
      
</div>

<div class= 'body'>
</div>  


    
</body> 
     